run/config/hub_world/dimensions/minecraft/overworld/region/r.-1.0.mca filter=lfs diff=lfs merge=lfs -text
run/config/hub_world/dimensions/minecraft/overworld/region/r.-1.-1.mca filter=lfs diff=lfs merge=lfs -text
run/config/hub_world/dimensions/minecraft/overworld/region/r.-1.1.mca filter=lfs diff=lfs merge=lfs -text
run/config/hub_world/dimensions/minecraft/overworld/region/r.-1.-2.mca filter=lfs diff=lfs merge=lfs -text
run/config/hub_world/dimensions/minecraft/overworld/region/r.0.0.mca filter=lfs diff=lfs merge=lfs -text
run/config/hub_world/dimensions/minecraft/overworld/region/r.0.-1.mca filter=lfs diff=lfs merge=lfs -text
run/config/hub_world/dimensions/minecraft/overworld/region/r.0.1.mca filter=lfs diff=lfs merge=lfs -text
run/config/hub_world/dimensions/minecraft/overworld/region/r.0.-2.mca filter=lfs diff=lfs merge=lfs -text
